.navbar {
    position: relative;
    background-color: var(--white);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 8vh;
    text-align: left;
    font-size: var(--text-style-size);
    color: var(--color-black);
    font-family: var(--subheading-style);
}

.logo-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo-icon {
    margin-left: 2vh;
    width: 276px;
    height: 51px;
    object-fit: cover;
}

.loginregister {
    display: flex;
    cursor: pointer;
    margin-left: auto;
    margin-right: 20vh;
}

.prijava,
.registracija {
    position: relative;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.prijava {
    margin-right: 3vh;
}
.registracija {
    cursor: pointer;
}


.body {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url(/public/login-signup-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    text-align: left;
    font-size: var(--text-style-size);
    color: var(--heading-color);
    font-family: var(--subheading-style);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.form {
    margin-right: 20vh;
    border-radius: var(--br-3xs);
    background-color: var(--login-signup-bg);
    width: 550px;
    height: 669px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.title {
    margin-top: 5vh;
    font-size: var(--heading-style-size);
    font-weight: bold;
}

.inputs {
    margin-top: 5vh;
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: var(--gap-3xl);
    text-align: left;
    font-size: var(--subheading-style-size);
    color: var(--heading-color);
    font-family: var(--subheading-style);
}

.input, .button {
    display: flex;
    flex-direction: column;
}

.email, .password {
    font-weight: 500;
}

input {
    border-radius: var(--br-3xs);
    background-color: var(--windows-colors);
    border: 1px solid var(--heading-color);
    box-sizing: border-box;
    width: 360px;
    height: 48px;
    margin-top: 1vh;
    padding-left: 10px;
    font-size: var(--text-style-size);
}

.button {
    margin-top: 2vh;
    width: 360px;
    border-radius: var(--br-3xs);
    background-color: var(--primary-color);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid var(--heading-color);
    box-sizing: border-box;
    height: 48px;
    justify-content: center;
    color: var(--white);
    font-size: var(--subheading-style-size);
}

.or {
    margin-top: 5vh;
}

.line {
    position: relative;
    height: 1px;
    width: 360px;
}

.google {
    margin-top: 5vh;
    position: relative;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
    font-family: var(--text-style-size);
}

.google-button {
    align-self: stretch;
    border-radius: 2px;
    background-color: var(--white);
    box-shadow: var(--googleshadow1);
    height: 40px;
    display: flex;
    flex-direction: row;
    padding: 0 8px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.google-logo {
    position: relative;
    width: 18px;
    height: 18px;
}











